body {
    background-color: rgb(78, 5, 5);
    min-height: 100vh;
    margin: 0;
    color: white;
    font-family: 'Cormorant Infant', cursive;
}

.start_title {
    background: rgb(3, 59, 3);
    padding: 8px;
    margin: 0;
}

.containerPs {
    background: black;
    padding: 12px;
    margin-top: 40px;
}

.my_name {
    font-weight: bold;
}

.nameOfList {
    margin-left: 2%;
}

:root {
    --border-color: rgb(3, 59, 3);
    --background-color: rgba(89, 124, 90, 0.822);
    --border-radius: 30px;
}

input,
label,
button {
    width: 80%;
    margin: 10px;
    display: block;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

input{
    padding: 15px;
}

button{
    background-color: rgb(24, 94, 24);
    width: 100%;
}

#form-picture-user {
    border: 5px solid var(--border-color);
    background-color: rgb(24, 94, 24);
    padding: 10px;

}

#form-container {
    border-radius: var(--border-radius);
    border: 5px solid var(--border-color);
    background-color: var(--background-color);
    width: 75%;
    display: flex;
    margin-left: 12%;
    margin-top: 20px;   
}

#label-add-picture {
    margin-left: 25%;
}